#ark-cab-box
  .ark-cab#ark-cab
    .ark-cab-top-triangle
    .ark-cab-bottom-left-triangle
    .ark-cab-bottom-right-triangle
    .ark-cab-top-left-flash
    .ark-cab-top-right-flash
    .ark-cab-top-left-border
    .ark-cab-top-right-border
    .ark-cab-bottom-center-border
    .ark-cab-bottom-left-border
    .ark-cab-bottom-right-border
    .ark-cab-center-left-border
    .ark-cab-center-right-border
    .ark-cab-main-container
      .ark-cab-outside-border
#loading-box
  #ark-loading
    .ark-loading-border
      .ark-loading-container#Ark-loading-progress
        //- .ark-loading-tip